{% extends 'rental/base.html' %}

{% block content %}
<h2>Available Rental Properties</h2>

{% if houses %}
    <ul>
    {% for house in houses %}
        <div class="slider-container">
            <div class="slider">
                {% for image in house.images.all %}
                <div class="slide">
                    <img src="{{ image.images.url }}" alt="{{ house.name }}">
                </div>
                {% endfor %}
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
        </div>
        <li>
            <a href="{% url 'rental:rental_property_detail' house.id %}">More</a>
            <h3>{{ house.location }}</h3>
            <p>Price: ${{ house.monthly_rent }} / month</p>
        </li>
        
    {% endfor %}
    </ul>
{% else %}
    <p>No rental properties are currently available.</p>
{% endif %}

{% endblock %}