{% extends 'owned_home/base.html' %}

{% block content %}
<h2>Houses for Sale</h2>
{% if houses %}
    <ul>
    {% for house in houses %}
        <div class="slider-container">
            <div class="slider">
                {% for image in house.image.all %}
                <div class="slide">
                    <img src="{{ image.image.url }}" alt="{{ house.name }}">
                </div>
                {% endfor %}
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
        </div>
        <li>
            <a href="{% url 'owned_home:owned_house_detail' house.id %}">
                <h3>{{ house.name }}</h3>
                <p>Location: {{ house.location }}</p>
            </a>
            <p>Price: ${{ house.price }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No houses are currently listed for sale.</p>
{% endif %}

{% endblock %}